body{
    font-family: "Montserrat";
    background-color:  #011627;
}

header{
    background-color: white;
    color: black;
    height: 80px;
}

/* Section */
.db-container{
    height: calc(100vh - 100px);
    aspect-ratio: 1 / 1;
    margin: 10px auto;
    color: white;
}

/* Square classes */
.square{
    aspect-ratio: 1 / 1;
    border: 1px solid greenyellow;
}

.db-width-easy{
    width: calc(100% / 10);
}

.db-width-medium{
    width: calc(100% / 9);
}

.db-width-hard{
    width: calc(100% / 7);
}

.clicked{
    background-color: red;
}